<div class="d-flex" [class.d-none]="(Products.length==0)?true:false">
    <h1>Total Price : {{totlaPrice}} $</h1>
    <button type="reset" class="btn btn-danger m-3" (click)="show()">BUY</button>
</div> 

<div class="m-5" style="justify-content: center; align-items: center; text-align: center;" [class.d-none]="(Products.length!=0)?true:false">
    <div class="m-1">
        <i class="bi bi-cart-plus" style="font-size: 200px;"></i>
    </div>
    <h2 class="m-1">Add items to start shopping</h2>
    <h6 class="m-1 p-2">Your items will appear here as you add them to your cart.</h6> 
    <button class="btn btn-danger btn m-3" routerLink="/products">Go shopping</button>
</div>

<div class="row ">
    @for(pro of Products;track pro.prod.id;let i=$index){
        <div class="col-lg-3 m-3">
            <div class="card" style="width: 18rem;">
            <img [src]="pro.prod.urlImage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Name : {{pro.prod.name}}</h5>  
                <h6>price : {{pro.prod.price}} $</h6>
                <div class="d-flex">
                    <h6 class="m-3">Quantity : {{pro.quantity}}</h6> 
                    <button class="btn btn-success text-black m-1" (click)="ponas(pro)" [disabled]="(pro.prod.amount==0)?true:false">+</button>
                    <button class="btn btn-danger text-black m-1" (click)="minas(pro)" [disabled]="(pro.quantity==0)?true:false">-</button>
                </div> 
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button  class="btn btn-danger" (click)="remove(pro)">Remove</button>
            </div>
            </div>
        </div>
    }
</div>
